
.FullPostView {
    margin-top: calc(76px + 20px);
    background: #1A1A1B;
    padding: 20px;
    border: 1px solid #343536;
    border-radius: 5px;
    width: 700px;
    margin-bottom: 20px;
}

.FullPostView hr {
    background: gray;
}